main {
    border: black 3px dotted;
}

h1 {
    text-align: center;
    display: block;
}

input {
    margin: 0 auto;
    display: inline-block;
}

/* button to return back; added later*/
.back{
    cursor: pointer;
    float:right;
    position: relative;
}