@keyframes hover-navbar-link {}

.navbar {
    padding: 0.2rem 0;
    color: white;
    background-color: #1d1d1d;
    display: flex;
    justify-content: space-between;
}

/* navbar-links = container with all elements called "navbar-link" */
.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-link {
    display: inline-block;
    width: 8rem;
    text-align: center;
    padding: 0.3rem;
    margin: 0.2rem;
    border: 2px solid transparent;
/* animations included below */
    transition-duration: 400ms;
    transition-property: background, transform, font-weight;
}

.navbar-link:hover{
    background-color: red;
    transform: rotate(10deg);
    border: 2px solid white;
}

.navbar-link>a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1rem;
}

navbar

.navbar-logo {
    display: inline;
    width: max-content;
    font-size: 1.5rem;
    background-color: red;
    padding: 0.5rem 0.25rem;
    border-radius: 0 1rem 1rem 0;
    color: white;
    border: 2px solid white;
}

.navbar-logo span {
    color: red;
    background-color: white;
    padding: 0.1rem;
    border-radius: 0.7rem;
}

.hamburger {
    align-items: center;
    display: none;
    color: white;
    background-color: #1d1d1d;
}

.hamburger svg {
    width: 2rem;
    height: 2rem;
    padding: 0rem;
}

.logo-hamburger {
    display: flex;
    justify-content: space-between;
}

/* so far setting dektop version */

/*
 WANT TO ADD:
---animation of navbar-links-- text decoration (or border), transition, both up and down (maybe even sides with delay)
*/

/* responsivity below */

@media (max-width: 700px) {
    .navbar {
        flex-direction: column;
    }
    .navbar-links {
        flex-direction: column;
        color: white;
        align-items: flex-start;
        display: none;
    }

    /* class below is being toggled by main.js when hamburger is clicked */
    .navbar-links.visible {
        display: flex;
    }

    .navbar-link {
        display: inline;
        margin-left: none;
    }

    .nabvbar {
        justify-content: ;
    }

    .hamburger {
        display: flex;
    }
}