h1 {
    font-size: 1.5rem;
    background-color: red;
    padding: 0.5rem 0.25rem;
    border-radius: 1rem;
    color: white;
}

.navbar {
    padding: 1rem;
    color: white;
    background-color: #1d1d1d;
}

.navbar>* {
    display: inline-block;

}

.navbar-link {
    display: inline-block;
}

.navbar-link>a{
    text-decoration: none;
    color: white;
}

.navbar-logo span {
    color: red;
    background-color: white;
    padding: 0.1rem;
    border-radius: 0.7rem;
}


/* animation of navbar-links-- text decoration, transition, both sides*/

