#mainbox{
    margin: 0 auto;
    max-width: 300px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 3px;
}

/* #btn0{
    grid-column: 1/3;
}

#equals{
    grid-column: 5/7;
} */

#display{
    grid-column: 1/6;
    height: 2rem;
}

.btn{
    height: 3rem;
    font-size: 1.5rem;
}

#display{
    border: 2px solid black;
    width: 100%;
    height: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 2px;
    box-sizing:border-box;
}

.sub-display {
}

#equals {
    background-color:rgb(60, 255, 0);
}